* {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  box-sizing: border-box;
  font-size: .14rem;
}

body, html {
  width: 100%;
  height: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: .5rem;
}

header .top {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .top span:nth-child(1) {
  font-size: .2rem;
  font-weight: bold;
  flex: 4;
  padding-left: .1rem;
}

header .top span:nth-child(2) {
  border: 1px solid #eee;
  padding: 5px .1rem;
  margin-right: .1rem;
  border-radius: .2rem;
  display: flex;
  color: #ccc;
}

header .top span:nth-child(2) i {
  font-size: .2rem;
  color: black;
  padding: 0 .1rem;
}

section {
  width: 100%;
  height: 100%;
}

section .box {
  width: 100%;
  height: auto;
}

section .box .inp {
  width: 100%;
  height: .45rem;
  line-height: .4rem;
  position: relative;
}

section .box .inp input {
  margin-left: .35rem;
  width: 80%;
  height: .35rem;
  border: 0;
  background: #eee;
  border-radius: 5px;
  padding-left: .25rem;
}

section .box .inp i {
  position: absolute;
  top: 0;
  left: .4rem;
}

section .box .swiper-container {
  width: 100%;
  height: 1.6rem;
  margin-top: 5px;
}

section .box .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

section .box .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

section .box .swiper-container .swiper-wrapper .swiper-slide dl {
  width: 20%;
  height: 46%;
}

section .box .swiper-container .swiper-wrapper .swiper-slide dl dt {
  width: 90%;
  height: 70%;
  text-align: center;
}

section .box .swiper-container .swiper-wrapper .swiper-slide dl dt img {
  width: 85%;
  height: 98%;
}

section .box .swiper-container .swiper-wrapper .swiper-slide dl dd {
  width: 100%;
  height: 25%;
  text-align: center;
  line-height: .23rem;
  font-size: .14rem;
}

footer {
  width: 100%;
  height: .66rem;
  background: red;
}
