*{
    margin: 0 auto;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    font-size: .14rem;
}
body,html{
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
}
header{
    width: 100%;
    height: .5rem;
   
    .top{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content:space-between;
        align-items: center;
        
        span:nth-child(1){
            font-size: .2rem;
            font-weight: bold;
            flex: 4;
            padding-left: .1rem;
        }
        span:nth-child(2){
            border: 1px solid #eee;
            padding:5px .1rem;
            margin-right: .1rem;
            border-radius: .2rem;
            display: flex;
            color:#ccc;
            i{
                font-size: .2rem;
                color: black;
                padding:0 .1rem;
            }
        }
    }
}
section{
    width: 100%;
    height: 100%;
    .box{
        width: 100%;
        height: auto;
        .inp{
            width: 100%;
            height: .45rem;
            line-height: .4rem;
            position: relative;
            input{
                margin-left: .35rem;
                width: 80%;
                height: .35rem;
                border: 0;
                background: #eee;
                border-radius: 5px;
                padding-left: .25rem;
            }
            i{
                position: absolute;
                top: 0;
                left: .4rem;
            }
        }
        .swiper-container{
            width: 100%;
            height: 1.6rem;
            margin-top: 5px;
            padding-bottom: .3rem;
            .swiper-wrapper{
                width: auto;
                height: 100%;
                .swiper-slide{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    dl{
                        width: 20%;
                        height: 46%;
                        // background: red;
                        dt{
                            width: 90%;
                            height: 75%;
                            text-align: center;
                            img{
                                width: 85%;
                                height: 100%;
                            }
                        }
                        dd{
                            width: 100%;
                            height: 25%;
                            text-align: center;
                            line-height: .23rem;
                            font-size: .14rem;
                        }
                    }
                }
            }
        
        }
        .banner{
            width: 100%;
            height: 2.3rem;
            text-align: center;
            position: relative;
            img{
                width: 95%;
                height: 100%;
            }
            .content{
                width: 90%;
                height: 72%;
                background: #fff;
                position: absolute;
                border-radius: 5px;
                top: .54rem;
                left: .18rem;
                overflow-x: auto;
                .content_box{
                    width: auto;
                    height: 99%;
                    display: flex;  
                    dl{
                        width: 95px;
                        height: 97%;
                        margin-top: 7px;
                        float: left;
                        background: #eee;
                        margin-right: 10px;
                        dt{
                            width: 100%;
                            height: 55%;
                            img{
                                width: 97%;
                                height: 100%;
                            }
                        }
                        dd{
                            width: 100%;
                            height: 45%;
                            p{
                                width: 100%;
                                height: auto;
                                font-size: .14rem;
                                padding: 2px 0;
                            }
                            p:nth-child(1){
                                width: 100%;
                                height: auto;
                                overflow: hidden;
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                font-size: .15rem;
                            }
                            P:nth-child(2){
                                span:nth-child(1){
                                    font-size: .18rem;
                                    font-weight: bold;
                                    color: red;
                                }
                                span:nth-child(2){
                                    font-size: .13rem;
                                    border: 1px solid #f00;
                                    color: #f00;
                                }
                            }
                            p:nth-child(3){
                                span:nth-child(1){
                                    font-size: .15rem;
                                    color: #666;
                                }
                                span:nth-child(2){
                                    text-decoration: line-through;
                                }
                            }

                        }
                    }
                }
            }
        }
    }
}
footer{
    width: 100%;
    height: .66rem;
    background: red;
}